apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "identity") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
    app: {{ include "zymtrace.resourceName" (list $ "identity") }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "2"
    "helm.sh/hook-depends-on": "{{ include "zymtrace.resourceName" (list $ "migrate") }}"
spec:
  replicas: {{ .Values.services.identity.replicas }}
  selector:
    matchLabels:
      app: {{ include "zymtrace.resourceName" (list $ "identity") }}
  template:
    metadata:
      labels:
        app: {{ include "zymtrace.resourceName" (list $ "identity") }}
    spec:
      {{- include "zymtrace.nodeSelector" (list $ "identity") | nindent 6 }}
      {{- include "zymtrace.tolerations" (list $ "identity") | nindent 6 }}
      {{- include "zymtrace.affinity" (list $ "identity") | nindent 6 }}
      {{- include "zymtrace.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ include "zymtrace.resourceName" (list $ "identity") }}
          image: "{{ include "zymtrace.imageRegistry" . }}{{ include "zymtrace.repositoryName" (list $ "identity") }}:{{ include "zymtrace.serviceTag" (list $ "identity") }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          command: ["zymtrace-identity"]
          ports:
            - name: http
              containerPort: {{ .Values.services.identity.port }}
              protocol: TCP
            - name: http-health
              containerPort: {{ .Values.services.identity.portHealth }}
              protocol: TCP
          resources:
            {{- toYaml .Values.services.identity.resources | nindent 12 }}

          {{- include "zymtrace.serviceEnvConfig" (list $ "identity") | nindent 10 }}
          {{- if include "zymtrace.livenessProbeEnabled" (list $ "identity") }}
          livenessProbe:
            httpGet:
              path: /liveness
              port: {{ .Values.services.identity.portHealth }}
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          {{- end }}
          {{- if include "zymtrace.readinessProbeEnabled" (list $ "identity") }}
          readinessProbe:
            httpGet:
              path: /readiness
              port: {{ .Values.services.identity.portHealth }}
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "identity") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None # headless -- exposes all downstream IPs to envoy
  ports:
    - port: {{ .Values.services.identity.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.services.identity.portHealth }}
      targetPort: http-health
      protocol: TCP
      name: http-health
  selector:
    app: {{ include "zymtrace.resourceName" (list $ "identity") }}
---
{{- include "zymtrace.hpa" (list $ "identity" .Values.services.identity) }}
