apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "ingest") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
    app: {{ include "zymtrace.resourceName" (list $ "ingest") }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "2"
    "helm.sh/hook-depends-on": "{{ include "zymtrace.resourceName" (list $ "migrate") }}"
spec:
  replicas: {{ .Values.services.ingest.replicas }}
  selector:
    matchLabels:
      app: {{ include "zymtrace.resourceName" (list $ "ingest") }}
  template:
    metadata:
      labels:
        app: {{ include "zymtrace.resourceName" (list $ "ingest") }}
    spec:
      {{- include "zymtrace.nodeSelector" (list $ "ingest") | nindent 6 }}
      {{- include "zymtrace.tolerations" (list $ "ingest") | nindent 6 }}
      {{- include "zymtrace.affinity" (list $ "ingest") | nindent 6 }}
      {{- include "zymtrace.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ include "zymtrace.resourceName" (list $ "ingest") }}
          image: "{{ include "zymtrace.imageRegistry" . }}{{ include "zymtrace.repositoryName" (list $ "ingest") }}:{{ include "zymtrace.serviceTag" (list $ "ingest") }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          command: ["zymtrace-ingest"]
          ports:
            - name: http
              containerPort: {{ .Values.services.ingest.port }}
              protocol: TCP
            - name: http-trusted
              containerPort: {{ .Values.services.ingest.portTrusted }}
              protocol: TCP
          resources:
            {{- toYaml .Values.services.ingest.resources | nindent 12 }}
            
          {{- include "zymtrace.serviceEnvConfig" (list $ "ingest") | nindent 10 }}

          {{- if include "zymtrace.livenessProbeEnabled" (list $ "ingest") }}
          livenessProbe:
            grpc:
              service: opentelemetry.proto.collector.profiles.v1development.ProfilesService
              port: {{ .Values.services.ingest.port }}
            initialDelaySeconds: 30
            periodSeconds: 60
            failureThreshold: 5
          {{- end }}
          {{- if include "zymtrace.readinessProbeEnabled" (list $ "ingest") }}
          readinessProbe:
            grpc:
              service: opentelemetry.proto.collector.profiles.v1development.ProfilesService
              port: {{ .Values.services.ingest.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "ingest") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
{{- if .Values.global.enableServiceMigration | default false }}
  annotations:
    "helm.sh/hook": "pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
    "helm.sh/hook-weight": "-1"
{{- end }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.services.ingest.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.services.ingest.portTrusted }}
      targetPort: {{ .Values.services.symdb.portTrusted }}
      protocol: TCP
      name: http-trusted
  selector:
    app: {{ include "zymtrace.resourceName" (list $ "ingest") }}
---
{{- include "zymtrace.hpa" (list $ "ingest" .Values.services.ingest) }}