apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "ui") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
    app: {{ include "zymtrace.resourceName" (list $ "ui") }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "2"
    "helm.sh/hook-depends-on": "{{ include "zymtrace.resourceName" (list $ "migrate") }}"
spec:
  replicas: {{ .Values.services.ui.replicas }}
  selector:
    matchLabels:
      app: {{ include "zymtrace.resourceName" (list $ "ui") }}
  template:
    metadata:
      labels:
        app: {{ include "zymtrace.resourceName" (list $ "ui") }}
    spec:
      {{- include "zymtrace.nodeSelector" (list $ "ui") | nindent 6 }}
      {{- include "zymtrace.tolerations" (list $ "ui") | nindent 6 }}
      {{- include "zymtrace.affinity" (list $ "ui") | nindent 6 }}
      {{- include "zymtrace.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ include "zymtrace.resourceName" (list $ "ui") }}
          image: "{{ include "zymtrace.imageRegistry" . }}{{ include "zymtrace.repositoryName" (list $ "ui") }}:{{ include "zymtrace.serviceTag" (list $ "ui") }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.services.ui.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.services.ui.resources | nindent 12 }}
            
          {{- include "zymtrace.serviceEnvConfig" (list $ "ui") | nindent 10 }}

          {{- if include "zymtrace.livenessProbeEnabled" (list $ "ui") }}
          livenessProbe:
            httpGet:
              path: /index.html
              port: {{ .Values.services.ui.port }}
            initialDelaySeconds: 30
            periodSeconds: 60
            failureThreshold: 5
          {{- end }}
          {{- if include "zymtrace.readinessProbeEnabled" (list $ "ui") }}
          readinessProbe:
            httpGet:
              path: /index.html
              port: {{ .Values.services.ui.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 5
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "ui") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None # headless -- exposes all downstream IPs to envoy
  ports:
    - port: {{ .Values.services.ui.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "zymtrace.resourceName" (list $ "ui") }}
---
{{- include "zymtrace.hpa" (list $ "ui" .Values.services.ui) }}
