apiVersion: v1
kind: Secret
metadata:
  name: {{ include "zymtrace.resourceName" (list $ "postgres-secrets") }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "zymtrace.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if eq .Values.postgres.mode "create" }}
  # Postgres doesn't like using `data` directly on GKE due to presence of `lost+found` directory.
  PGDATA: "/var/lib/postgresql/data/pgdata"
  POSTGRES_PASSWORD: {{ .Values.postgres.create.config.password | quote }}
  IDENTITY__POSTGRES__PASSWORD: {{ .Values.postgres.create.config.password | quote }}
  SYMDB__POSTGRES__PASSWORD: {{ .Values.postgres.create.config.password | quote }}
  WEB__POSTGRES__PASSWORD: {{ .Values.postgres.create.config.password | quote }}
  {{- else if eq .Values.postgres.mode "aws_aurora" }}
  # For AWS Aurora with IAM authentication
  IDENTITY__POSTGRES__USE_IAM: "aws"
  SYMDB__POSTGRES__USE_IAM: "aws"
  WEB__POSTGRES__USE_IAM: "aws"
  IDENTITY__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.aws_aurora.region | quote }}
  SYMDB__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.aws_aurora.region | quote }}
  WEB__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.aws_aurora.region | quote }}
  IDENTITY__POSTGRES__PASSWORD: ""
  SYMDB__POSTGRES__PASSWORD: ""
  WEB__POSTGRES__PASSWORD: ""
  {{- else if eq .Values.postgres.mode "gcp_cloudsql" }}
  # For Cloud SQL with IAM authentication, no password is needed as we use the IAM proxy
  IDENTITY__POSTGRES__PASSWORD: ""
  SYMDB__POSTGRES__PASSWORD: ""
  WEB__POSTGRES__PASSWORD: ""
  {{- else }}
  {{- if .Values.postgres.use_existing.useIAM }}
  IDENTITY__POSTGRES__USE_IAM: {{ .Values.postgres.use_existing.useIAM | quote }}
  SYMDB__POSTGRES__USE_IAM: {{ .Values.postgres.use_existing.useIAM | quote }}
  WEB__POSTGRES__USE_IAM: {{ .Values.postgres.use_existing.useIAM | quote }}
  {{- if .Values.postgres.use_existing.awsIamRegion }}
  IDENTITY__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.use_existing.awsIamRegion | quote }}
  SYMDB__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.use_existing.awsIamRegion | quote }}
  WEB__POSTGRES__AWS_IAM_REGION: {{ .Values.postgres.use_existing.awsIamRegion | quote }}
  {{- end }}
  {{- else }}
  POSTGRES_PASSWORD: {{ .Values.postgres.use_existing.password | quote }}
  IDENTITY__POSTGRES__PASSWORD: {{ .Values.postgres.use_existing.password | quote }}
  SYMDB__POSTGRES__PASSWORD: {{ .Values.postgres.use_existing.password | quote }}
  WEB__POSTGRES__PASSWORD: {{ .Values.postgres.use_existing.password | quote }}
  {{- end }}

  {{- end }}
